name: Hello world


on:
  push:
    branches:
      - main

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    steps:
      - name: Say hello
        run: |
          echo "hello world!"
      - name: now it is
        run: |
          date
      - name: Directory content
        run: | 
          ls -l
